body{
    background-image: url("../images/mountain.jpg");
    background-color: aliceblue; 
    color: #080833;
}

.jumbotron{
    background-color: rgb(168, 168, 236);
    background-size: cover;
    margin: 20px;
    text-align: center;
    opacity: 0.80;
}

#zip-error{
    color: red;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    top: 60px;
    left: -40px;
}

.form-control{
    color: rgb(8, 8, 51);
}
#button-addon2{
    background-color: rgb(168, 168, 236);
    color: rgb(8, 8, 51);
    opacity: 0.80;
}
.input-group-text{
    background-color: rgb(168, 168, 236);
    color: rgb(8, 8, 51); 
}
.card{
    background-color: rgb(168, 168, 236);
    color: rgb(8, 8, 51); 
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
    opacity: 0.80;
}

#resorts{
    font-size: 30px;
}

#search{
    background-color: rgb(168, 168, 236);
    opacity: 0.80%;
}